<!-- About Section -->
<section id="intro" class="container content-section text-center dragend-page animated fadeInLeft">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="projects-heading"><%= image_tag("about me section.svg", alt: "project-img", height: 300, width: 300) %></div>
      <div class="intro-content">
        <br>
        <p class="lead">My name is Maurice Murphy and I'm a forward-thinker. I use that to my advantage when creating various projects. My affinity for art drives my design process. My goal is to consistantly improve upon old designs. At the same time, providing
          something fresh (and unique) to the overall design. I'm constantly thinking of ways to test myself and push my skills to the next level. As I obtain new languages and concepts, this site will continuously be updated.
        </p>
        <br>
      </div>
    </div>
  </div>
</section>
