<!-- About Section -->
  <section id="intro" class="container content-section text-center">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>About Me</h2>
              <p>As you saw at the top of the page, my name is Maurice Murphy and this is my website. </p>
              <p>I'm a forward-thinker and I use that to my advantage when creating various projects. My goal when creating projects is to create something unique, every time. </p>
              <p>I'm proficient in Ruby, as well as, Rails (or Ruby on Rails). While I do enjoy Ruby on Rails, I also have some JavaScript experience as well. I'm constantly thinking of ways to test myself and push my skills to the next level. As I obtain new languages and concepts, this page will continue be updated. </p>
              <p>If you would like to contact me, my information is at the bottom of the page. Again, thank you for coming.</p>
          </div>
      </div>
</section>
