<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row animated fadeInLeft">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="brand-heading"><%= image_tag("Personal  Logo.svg", alt: "logo-img", height: 720, width: 720) %></div>
        </div>
          <p class="lead">Welcome to my portfolio.
              <br>Please scroll down this page (or use the navigation bar)<br> to get a better understanding of who I am.
              <br>Thanks for coming.</p>
        </div>
      </div>
    </div>
</header>

<%= render 'intro/intro' %>
<%= render 'contact/contact' %>
<%= yield %>
