<section id="RESUME" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="brand-heading"><%= image_tag("Work Section.svg", alt: "logo-img", height: 350, width: 350) %></div>
      <br>
      <h3 class="job-title">
        <b>FREELANCE</b>
      </h3>
      <p class="job-description">DESIGNER & DEVELOPER, Jan. 2015 to present</p>
      <br>
      <p class="job-explanation">Develop and design web-based apps with the use of Ruby on Rails, Bootstrap and numerous other technologies. Consult with clients about web designs, develop products with the use of wire-framing techniques.</p>
      <br>
      <br>
      <h3 class="job-title">
        <b>FLORIDA INSTITUTE OF TECHNOLOGY</b>
      </h3>
      <p class="job-description">TECHNICAL SUPPORT TECHNICIAN, Melbourne, FL, Jan. 2015 to May. 2015</p>
      <br>
      <p class="job-explanation">As a technical support technician, I assisted customers with navigating the school's website. As well as, provided a helping hand around the office when my assistance was needed.</p>
      <br>
      <br>
      <br>
      <div class="brand-heading"><%= image_tag("Skills section.svg", alt: "logo-img", height: 350, width: 350) %></div>
      <br>
      <br>
      <p class="skills-explanation">
        <b>
          <i>Version Control:</i>
        </b>
        Git, GitHub.
        <b>
          <i>Development Tools:</i>
        </b>
        Heroku, Amazon Web Services, Compass, Agile.
        <b>
          <i>Languages:</i>
        </b>
        Ruby, JavaScript, SQL, HTML, CSS, SASS.
        <b>
          <i>Frameworks & Libraries:</i>
        </b>
        Ruby on Rails, jQuery, Bootstrap.
        <b>
          <i>Design Tools:</i>
        </b>
        Photoshop.</p>
      <br>
      <br>
      <br>
      <div class="brand-heading"><%= image_tag("Education Section.svg", alt: "logo-img", height: 350, width: 350) %></div>
      <br>
      <br>
      <div class="education-section">
        <p>
          <b>FLORIDA INSTITUTE OF TECHNOLOGY</b>
          <i>(Melbourne, FL, 2015)</i>
        </p>
        <p>
          <b>BACHELOR OF SCIENCE, INFORMATION SYSTEMS
          </b>
        </p>
        <p>
          <b>GPA: 3.20/4.00</b>
        </p>
      </div>
      <br>
      <br>
      <div class="education-section2">
        <p>
          <b>EASTERN FLORIDA STATE COLLEGE</b>
          <i>(Melbourne, FL, 2013)</i>
        </p>
        <p>
          <b>ASSOCIATE OF ARTS, GENERAL EDUCATION</b>
        </p>
        <p>
          <b>GPA: 3.09/4.00</b>
        </p>
      </div>
    </div>
  </div>
</section>
