<!-- About Section -->
  <section id="projects" class="container content-section text-center">

      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>Projects</h2>
              <p>Each image serves as a link.</p>
              <div class="content">
        				<div class="grid">
        					<figure class="effect-bubba">
                    <%= image_tag("SPimg.jpg") %>
        						<figcaption>
        							<h2 class="classy-font">Sega <span>Paradise</span></h2>
        							<p>A Wikipedia type of website that is geared specifically for Sega Genesis &copy; games.</p>
        							<a href="https://segaparadise.herokuapp.com/">View more</a>
        						</figcaption>
        					</figure>
        					<figure class="effect-bubba">
        						<%= image_tag("portimg.jpg") %>
        						<figcaption>
        							<h2 class="classy-font">Portfolio <span>Website</span></h2>
        							<p>My introduction to you.</p>
        							<a href="http://mauricemurphyjr.com/">View more</a>
        						</figcaption>
        					</figure>
        					<figure class="effect-bubba">
        						<%= image_tag("baysideimg.jpg") %>
        						<figcaption>
        							<h2 class="classy-font">Bayside <span>Vinyl</span></h2>
        							<p>A passion project of mine.</p>
        							<a href="#">View more</a>
        						</figcaption>
        					</figure>
        				</div>
              </div>
          </div>
      </div>
</section>
