<section id="project" class="container content-section text-center animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="classy-font">
        Bayside Vaporwave
      </h2>

      <h3 class="project-title">Developer & Designer</h3>
      <p class="project-description lead">A React app utilizing the Spotify API with the use of Node.js and Express. <i>Bayside Vaporwave</i> shows the user the contents of the song that they are currently playing on their Spotify account. The design elements were inspired by <i>Vaporwave</i>, a subculture that blends late 80s/early 90s style and music with modern day electronic music.</p>
      <br>
      <p class="project-contents lead">Built with React, Node.js, Express, HTML5, CSS3/SASS, Javascript ES2015 (formally ES6), JSX, Bootstrap, Webpack, Babel, npm</p>
    </p>
    <br>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bvv-img.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bvv-img2.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
  <footer class="footer">
    <span class="text-muted">
      <a href="https://github.com/murphym757/bayside-vaporwave" target="_blank"><%= image_tag("github.png", alt: "png-img", height: 100, width: 180) %></a>
      <a href="https://bayside-vaporwave.herokuapp.com/" target="_blank"><%= image_tag("BV logo.png", alt: "png-img", height: 60, width: 90) %></a><br>
      <a class="btn btn-custom classy-font" href="/projects" role="button">Return to Projects</a>
    </footer>
  </section>
