<section id="project" class="container content-section text-center animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="classy-font">
        Breakout!
        <br>
        <span class="light">The JavaScript Game</span>
      </h2>

      <h3 class="project-title">Developer & Designer</h3>
      <p class="project-description lead">Following the MDN Game Tutorial, I created my own interpretation of the game.</p>
      <br>
      <p class="project-contents lead">Built with HTML5, CSS3, Bootstrap, and JavaScript(ES6)</p>
    </p>
    <br>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bo-image.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
  </div>
  <footer class="footer">
    <span class="text-muted">
      <a href="https://github.com/murphym757/JS-Breakout-Game" target="_blank"><%= image_tag("github.png", alt: "png-img", height: 100, width: 180) %></a>
      <a href="http://breakoutmm.herokuapp.com/" target="_blank"><%= image_tag("breakOutLogo.png", alt: "png-img", height: 80, width: 160) %></a><br>
      <a class="btn btn-custom classy-font" href="/projects" role="button">Return to Projects</a>
    </footer>
  </section>
