<section id="project" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="classy-font">
        BV Theme Generator
      </h2>

      <h3 class="project-title">Developer & Designer</h3>
      <p class="project-description">I created a useful tool that allows the user to change the theme of a webpage. The concept completely utilizing the Javascript DOM.</p>
      <br>
      <p class="project-contents">Built with Ruby on Rails, HTML5, CSS3, Devise, Bootstrap, JavaScript(ES6)</p>
    </p>
    <br>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bvtheme-image.jpg", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
  </div>
  <footer class="footer">
    <span class="text-muted">
      <a href="https://github.com/murphym757/bvthemegenerator" target="_blank"><%= image_tag("github.png", alt: "png-img", height: 100, width: 180) %></a>
      <a href="http://bvthemegenerator.herokuapp.com/" target="_blank"><%= image_tag("BV logo.png", alt: "png-img", height: 60, width: 90) %></a><br>
      <a class="btn btn-custom classy-font" href="/projects" role="button">Return to Projects</a>
    </footer>
  </section>
