<section id="project" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="classy-font">
        Crossfader Blog
      </h2>

      <h3 class="project-title">Developer & Designer</h3>
      <p class="project-description">A blog that I made for the iPhone App, <a href="https://itunes.apple.com/us/app/crossfader/id628517073?mt=8" target="_blank"><i class="cf-link">Crossfader</i></a>. Currently, the blog is in the earlier stages of use. Changes and alterations will be made based on the client's needs.</p>
      <br>
      <p class="project-contents">Built with Ruby on Rails, HTML5, CSS3/SASS, Devise, Paperclip, Bootstrap, JavaScript(ES6)</p>
    </p>
    <br>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("cfblog-home.jpg", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("cfblog-post.jpg", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
  </div>
  <footer class="footer">
    <span class="text-muted">
      <a href="https://github.com/murphym757/cfblog" target="_blank"><%= image_tag("github.png", alt: "png-img", height: 100, width: 180) %></a>
      <a href="http://crossfaderblog.herokuapp.com/" target="_blank"><%= image_tag("cf-blog_logo.png", alt: "png-img", height:100, width: 180) %></a><br>
      <a class="btn btn-custom classy-font" href="/projects" role="button">Return to Projects</a>
    </footer>
  </section>
