<section id="project" class="container content-section text-center animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="classy-font">
        Personal Portfolio
      </h2>

      <h3 class="project-title">Developer & Designer</h3>
      <p class="project-description lead">This is my personal portfolio and its primary purpose is to inform, as well as, give the visitor a glimpse of who I am.
      </p>
      <br>
      <p class="project-contents lead">Built with Ruby on Rails, Bootstrap, HTML5, CSS3, JavaScript</p>
    </p>
    <br>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("port-img.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
      <div class="project-image"><%= image_tag("port-img2.png", alt: "project-img", height: 720, width: 720) %></div>
    </div>
    <br>
  </div>
</div>
<footer class="footer">
  <span class="text-muted">
    <a href="https://github.com/murphym757/portfolio_website" target="_blank"><%= image_tag("github.png", alt: "png-img", height: 100, width: 180) %></a>
    <a href="/" target="_blank"><%= image_tag("Personal  Logo.svg", alt: "png-img", height: 80, width: 160) %></a><br>
    <a class="btn btn-custom classy-font" href="/projects" role="button">Return to Projects</a>
  </footer>
</section>
