<!-- Contact Section -->
<section id="contact" class="container contact-section text-center animated fadeInLeft">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="projects-heading page-scroll"><%= image_tag("contact section.svg", alt: "project-img", height: 300, width: 300) %>
        <br>
        <p class="lead">Please feel free to reach me at:
        </p>
        <br>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="card">
            <div class="card-block">
              <h3 class="contact-card">
                <i class="fa fa-envelope fa-4x"></i>
              </h3>
              <p class="card-text lead">
                <a href="mailto:maurice.murphy757@gmail.com">maurice.murphy757@gmail.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card">
            <div class="card-block">
              <h3 class="contact-card">
                <i class="fa fa-mobile fa-4x"></i>
              </h3>
              <p class="card-text lead">
                <a href="tel:+17864233489">786-423-3489</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
