/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'Roboto-Light';
  src: font-url('Roboto-Light.ttf');
  src: font-url('Roboto-Light.ttf?iefix') format('truetype');
  font-family: 'Roboto-Regular';
  src: font-url('Roboto-Regular.ttf');
  src: font-url('Roboto-Regular.ttf?iefix') format('truetype');
  font-family: 'Roboto-Medium';
  src: font-url('Roboto-Medium.ttf');
  src: font-url('Roboto-Medium.ttf?iefix') format('truetype');
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto-Light',sans-serif;
  color: white;
  background-color: #A3717C;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0 0 35px;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto-Medium",sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.project-title {
  color: #542D3B;
}

.intro-text {
  color: white;
  font-family: "Roboto-Medium";
  text-shadow: 5px 10px 10px #532D3B;
}

.classy-font {
  margin: 0 0 35px;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(white, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #A3717C;

  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white;

    &:active,
    &:focus {
      outline: none;
    }
  }

  .navbar-brand {
    font-weight: 700;

    &:focus {
      outline: none;
    }
  }

  a {
    color: white;
  }

  .nav {
    li {
      a {
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;

        &:hover {
          color: rgba(white, 0.8);
          outline: none;
          background-color: transparent;
        }

        &:active,
        &:focus {
          outline: none;
          background-color: transparent;
        }
      }

      &.active {
        outline: none;

        a {
          background-color: rgba(white, 0.3);

          &:hover {
            color: white;
          }
        }
      }
    }
  }
  @media(min-width:768px) {
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;

    &.top-nav-collapse {
      padding: 0;
      background: #A3717C;
      border-bottom: 1px solid rgba(white, 0.3);
    }
  }
}

.contact-section,
.content-section,
.intro-section {
  padding-top: 100px;
}

.propject-heading {
  padding-bottom: 700px;
}

.bullets {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.0;
}

.fa-envelope,
.fa-home,
.fa-mobile {
  color: #532D3B;
}
/* Bootstrap Buttons */
.btn-custom {
  color: #FFFFFF;
  background-color: #7C4751;
  border-color: #FFFFFF;
}

.btn-custom.active,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open .dropdown-toggle.btn-custom {
  color: #FFFFFF;
  background-color: #A3717C;
  border-color: #FFFFFF;
}

.btn-custom.active,
.btn-custom:active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled,
.btn-custom.disabled.active,
.btn-custom.disabled:active,
.btn-custom.disabled:focus,
.btn-custom.disabled:hover,
.btn-custom[disabled],
.btn-custom[disabled].active,
.btn-custom[disabled]:active,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom,
fieldset[disabled] .btn-custom.active,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:hover {
  background-color: #7C4751;
  border-color: #FFFFFF;
}

.btn-custom .badge {
  color: #7C4751;
  background-color: #FFFFFF;
}
/*-------------------------------------------------*/
/* RESPONSIVE CSS
-------------------------------------------------- */
/* Small devices (phones) */
@media (min-width: 300px) and (max-width: 667px) and (orientation: portrait) {
  .brand-heading {
    padding-top: 90px;
  }

  .intro-section {
    padding-top: 230px;
  }

  .card-text {
    font-size: 12px;
  }
}
@media (min-width: 300px) and (max-width: 667px) and (orientation: landscape) {}
/* Small devices (larger phones) */
@media (min-width: 668px) and (max-width: 767px) and (orientation: portrait) {
  .intro-section {
    padding-top: 100px;
  }
}
@media (min-width: 668px) and (max-width: 767px) and (orientation: landscape) {}
/* ---------------------------------------------------- */
/* Medium devices (tablets, 768px to 1024px) */
/* Ipad navbar font sizes */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .navbar-brand {
    font-size: 12px;
  }

  .page-scroll {
    font-size: 12px;
  }
}
/* ---------------------- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
/* ---------------------------------------------------- */
/* Large devices (Laptops (and large resolution tablets), 1025px to 1439px) */
@media (min-width: 1025px) and (max-width: 1439px) and (orientation: portrait) {}
@media (min-width: 1025px) and (max-width: 1439px) and (orientation: landscape) {}
/* ---------------------------------------------------- */
/* Large devices (Computers, 1440px to 1979px) */
@media (min-width: 1440px) and (max-width: 1979px) and (orientation: landscape) {}
/* ---------------------------------------------------- */
/* Extra Large devices (Computers, 1980px and up) */
@media (min-width: 1980px) and (max-width: 3840px) and (orientation: landscape) {}
/* ---------------------------------------------------- */
