// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* unvisited link */

.email-link:link,
.phone-link:link {
    color: white;
}

/* visited link */

.email-link:visited,
.phone-link:visited {
    color: #492834;
}

/* mouse over link */

.email-link:hover,
.phone-link:hover {
    color: #492834;
}

/* selected link */

.email-link:active,
.phone-link:active {
    color: white;
}