// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.intro {
     display: table;
     width: 100%;
     height: auto;
     padding: 100px 0;
     text-align: center;
     color: white;
		 background: image-url("mmindex.jpg") no-repeat bottom center scroll;
		 background-color: #A3717C;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 background-size: cover;
		 -o-background-size: cover;

     .intro-body {
         display: table-cell;
         vertical-align: middle;
         .brand-heading {
             font-size: 40px;
         }
         .intro-text {
             font-size: 18px;
         }
     }

     @media(min-width:768px) {
         height: 100%;
         padding: 0;
         .intro-body {
             .brand-heading {
                 font-size: 100px;
             }
             .intro-text {
                 font-size: 26px;
             }

         }
     }
 }



 .btn-circle {
     width: 70px;
     height: 70px;
     margin-top: 15px;
     padding: 7px 16px;
     border: 2px solid white;
     border-radius: 100% !important;
     font-size: 40px;
     color: white;
     background: transparent;
     -webkit-transition: background .3s ease-in-out;
     -moz-transition: background .3s ease-in-out;
     transition: background .3s ease-in-out;

     i.animated {
         -webkit-transition-property: -webkit-transform;
         -webkit-transition-duration: 1s;
         -moz-transition-property: -moz-transform;
         -moz-transition-duration: 1s;
				 color: white;
     }
     &:hover {
         i.animated {
             -webkit-animation-name: pulse;
             -moz-animation-name: pulse;
             -webkit-animation-duration: 1.5s;
             -moz-animation-duration: 1.5s;
             -webkit-animation-iteration-count: infinite;
             -moz-animation-iteration-count: infinite;
             -webkit-animation-timing-function: linear;
             -moz-animation-timing-function: linear;
         }
     }
 }

 @-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
