<!-- Footer -->
<footer>
  <div class="container text-center">
    <p class="lead">
      <div class="contact-heading"><%= image_tag("Personal  Logo.svg", alt: "png-img", height: 80, width: 160) %></div>
      <br>Copyright &copy; 2018</p>
  </div>
</footer>
